.content {
  max-width: 700px;
  margin: 5rem auto 0;
  padding: 1rem;

  .posts {
    margin-top: 4rem;
    margin-bottom: 4rem;
    a {
      display: flex;
      flex-direction: column;

      & + a {
        margin-top: 3rem;
      }

      strong {
        font-size: 1.75rem;
        font-weight: bold;
        color: var(--heading);
        margin-bottom: 0.5rem;
      }

      span {
        font-size: 1.125rem;
        color: var(--body);
        font-weight: 500;
        margin-bottom: 1rem;
        line-height: 26px;
      }

      div {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        time {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          color: var(--info);
          font-size: 0.875rem;
        }

        span {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          color: var(--info);
          font-size: 0.875rem;
          margin-bottom: 0;
        }
      }
    }
  }

  button {
    color: var(--highlight);
    background: transparent;
    border: none;
    font-size: 1.125rem;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }
}
