.container {
  margin: 2.5rem 0 5rem;
  padding: 1rem;

  .post {
    img {
      margin-top: 2.5rem;
      max-height: 400px;
      width: 100%;
    }

    .postContent {
      max-width: 721px;
      margin: auto;

      h1 {
        margin-top: 5rem;
        font-size: 3rem;
        color: var(--heading);
      }

      h2 {
        font-size: 2.25rem;
        color: var(--heading);
        margin-bottom: 1.5rem;
      }

      p {
        font-size: 1.125rem;
        color: var(--body);
        line-height: 140%;

        & + p {
          margin-top: 1.5rem;
        }
      }

      ul {
        list-style: disc;
        color: var(--body);
        margin: 1.5rem 0 1.5rem 2rem;

        li {
          margin: 0.5rem 0;
        }
      }

      div + div {
        margin-top: 2.5rem;
      }
    }

    .infos {
      margin: 1.5rem 0 4rem;
      color: var(--info);
      display: flex;
      gap: 1.5rem;

      span,
      time {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }
}
